// ===== Include Fonta;
@font-face {
  font-family: "Khula Light";
  src: url("../font/Khula-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Khula Regular";
  src: url("../font/Khula-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Khula Bold";
  src: url("../font/Khula-Bold.ttf") format("truetype");
}
body{
   background-color: #f1f1f1;
  header {
      .bg-light{
        .container{
          .row{
            .col-md-9{
              height: 35px;
              ul{
                padding-left: 0;
                margin-bottom: 0;
                li{
                  vertical-align: middle;
                  margin: 0;
                  font-size: 14px;
                  i{
                    font-size: 16px;
                    color: rgba(255, 118, 0, 0.67);
                  }
                }
              }
            }
            .col-md-3{
              height: 35px;
              ul{
                padding-left: 0;
                li{
                  font-size: 14px;
                  vertical-align: middle;
                  i{
                  }
                  .dropdown{
                    .btn{
                      height: 35px;
                      width: 100px;
                      border-radius: 0;
                      background-color: #c6c6c6;
                      border: none;
                      color: black;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .bg-white{
        .container{
          .row{
            .col-md-4{
              img{
                margin-top: 20px;
              }
            }
            .col-md-6{
              ul{
                padding-left: 0;
                li{
                  i{
                    color: rgba(255, 118, 0, 0.67);
                  }
                }
              }
              .input-group{
                border: 3px solid #dcdcdc;
                .input-group-prepend{
                  background-color: rgba(239, 239, 239, 0.73);
                }
                .input-group-append{
                  background-color: rgba(166, 0, 0, 0.69);
                  .btn{
                    color: white;
                    font-size: 20px;
                  }
                }
                input{
                  width: 220px;
                  height: 45px;
                }
              }
            }
            .col-md-2{
              padding-top: 65px;
              .btn{
                height: 49px;
                border-radius: 0;
                border: 3px solid #eeeeee;
                b{
                  font-size: 14px;
                  color: white;
                }
                i{
                  color: white;
                }
              }
              .dropdown-menu{
                margin-left: -118px;
                width: 280px;
                border-radius: 0;
                h6{
                  font-size: 12px;
                  color: #8b959b;
                }
                p{
                  color: #62686e;
                  b:nth-child(1){
                    float: left;
                    font-size: 12px;
                  }
                  b:nth-child(2){
                    float: right;
                    font-size: 16px;
                    color: #7e868c;
                  }
                }
              }
            }
          }
        }
      }
  }
  nav{
    background-color: rgba(187, 202, 208, 0.85);
    ul{
      padding-left: 10px;
      li{
        a{
          font-size: 20px;
          color: black;
        }
      }
    }
  }
 .Shop_list{
   .container{
     .row{
       .col-md-3{
         .row{
           margin: 0;
           height: 50px;
           border-bottom: 2px solid #b5b6b8;
           .col-md-2{
             padding-left: 12px;
             i{
               color: white;
               font-size: 22px;
               padding-top: 14px;
               padding-right: 9px;
             }
           }
           .col-md-10{
             b{
               color: white;
               font-size: 24px;
               margin-top: 7px;
               display: block;
             }
           }
         }
         p{
           margin-left: 20px;
           margin-top: 25px;
         }
         .write{
           .progress{
             position: relative;
             overflow: visible;
             .progress-circle:nth-child(1){
               position: absolute;
               width: 15px;
               height: 15px;
               border-radius: 100%;
               border: 2px solid #e1234b;
               background-color: #ffffff;
               left: 0;
               top: 50%;
               transform: translate(-50%,-50%);
             }
             .progress-circle:nth-child(2){
               position: absolute;
               width: 15px;
               height: 15px;
               border-radius: 100%;
               border: 2px solid #e1234b;
               background-color: #ffffff;
               right: 0;
               top: -100%;
               transform: translate(50%,50%);
             }
             margin: 0 25px;
             border-radius: 0;
             height: 10px;
             .progress-bar{
               background-color: #e1234b;
               width: 100%;
             }
           }
           .text-uppercase{
             color: #4b5056;
           }
           p{
             color: #747474;
             .fa-pound-sign{
               color: #8e8e8e;
             }
           }
           ul{
             li{
               a{
                 text-decoration: none;
                 color: #747474;
               }
               i{
                 vertical-align: center;
                 font-size: 10px;
               }
               color: #747474;
               font-size: 14px;
             }
           }
         }
         .door{
           margin-top: 40px;
           p{
             font-size: 24px;
           }
           ul{
             li{
               margin-top: 2px;
               margin-bottom: 2px;
               background-color: rgba(198, 198, 198, 0.77);
               font-size: 12px;
             }
           }
         }
         .summer{
           margin-top: 40px;
           p:nth-child(1){
             font-size: 24px;
           }
           p:nth-child(2){
             font-size: 13px;
             color: #4e555b;
           }
           p{
             font-size: 14px;
             button{
               margin-left: 80px;
               font-size: 13px;
               border-radius: 0;
               padding: 7px 20px;
             }
           }
         }
       }
       .col-md-9{
         .row{
           .col-md-6:nth-child(1){
             ul{
               margin-bottom: 0;
               padding: 0;
               li:nth-child(1){
                 i{
                   color: black;
                   padding: 10px;
                   font-size: 22px;
                 }
               }
               li:nth-child(2){
                 i{
                   color: white;
                   padding: 10px;
                   font-size: 22px;
                 }
               }
             }
           }
           .col-md-6:nth-child(2){
             padding-right: 10px;
             .dropdown{
               .btn{
                 background-color: #8b959b;
                 font-size: 14px;
                 border-radius: 0;
                 height: 44px;
               }
               .dropdown-menu{
                 a{
                   line-height: 24px;
                   color: rgba(151, 163, 169, 0.67);
                   font-size: 14px;
                 }
                 width: 230px;
                 margin-left: -180px;
                 margin-top: 10px;
               }
             }
             button{
               background-color: #8b959b;
               font-size: 14px;
               border-radius: 0;
               height: 44px;
             }
           }
         }
         .row{
           .col-md-8{
             p:nth-child(1){
               font-size: 15px;
               color: rgba(41, 41, 41, 0.67);
             }
             p:nth-child(2){
               i{
                 color: #fdb517;
                 font-size: 11px;
               }
             }
             p:nth-child(3){
               line-height: 28px;
               font-size: 13px;
               color: #a9a9a9;
             }
             .d-flex{
               .w-50:nth-child(1){
                 .text-secondary{
                   font-size: 15px;
                 }
                 i{
                   font-size: 20px;
                   color: rgba(255, 0, 0, 0.51);
                 }
                 b{
                   font-size: 20px;
                   color: rgba(255, 0, 0, 0.51);
                 }
               }
             }
           }
           .col-md-4{
             img{
               width: 250px;
               height: 270px;
             }
           }
         }
         .pt-5{
           .col{
             ul{
               li:nth-child(1){
                 a{
                   padding: 12px 20px 14px 10px;
                   border-radius: 0;
                 }
                 font-size: 12px;
               }
               li:nth-child(2){
                 padding-left: 4px;
                 a{
                   padding: 12px 20px 14px 10px;
                   border-radius: 0;
                 }
                 font-size: 12px;
               }
               li:nth-child(3){
                 padding-left: 6px;
                 a{
                   border-radius: 0;
                   padding: 10.5px;
                 }
               }
             }
           }
         }
       }
     }
     .to-top{
       right: 20px;
       border-radius: 100%;
       bottom: 10px;
       background-color: #8b959b;
       position: fixed;
       .btn{
         color: white;
         i{
           padding: 8px 6px;
           font-size: 20px;
         }
       }
     }
   }
 }
  .Home{
   background-image: url("../images/banner/bg3-banner7.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 391px;
    .container{
      .row{
        padding-top: 80px;
        padding-left: 170px;
        .col{
             h4{
               width: 325px;
               padding-left: 6px;
               border-radius: 6px;
               background-color: #4e555b;
              small{
                margin-top: 0;
                font-weight: 100;
              }
             }
            h1{
              padding-left: 6px;
              width: 425px;
              background-color: #4e555b;
              border-radius: 10px;
             .display-4{
               font-weight: bold;
             }
            }
            .btn{
              font-weight: normal;
              width: 220px;
              height: 70px;
            }
        }
      }
    }
    .white{
      .container{
        .row{
          .col-md-3{
            .row{
              .col-md-2{
                .btn{
                  i{
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .home{
    .container{
      .row{
        .col-md-3{
          .row:nth-child(1){
            width: 255px;
            .col-md-2{
              color: white;
              font-size: 22px;
              background-color: rgba(242, 47, 165, 0.5);
              height: 53px;
            }
            .col-md-10{
              font-size: 23px;
              height: 53px;
              color: white;
              background-color: rgba(242, 47, 165, 0.5);
            }
          }
          .row:nth-child(2){
            width: 255px;
            padding-left: 1px;
              .table{
                tr{
                  td{
                    font-size: 13px;
                    color: #4e555b;
                    padding: 13px 0 15px 21px;
                  }
                }
              }
          }
        }
        .col-md-6{
          .row{
            .col-md-6:nth-child(1){
              padding-right: 2px;
              img{
               width: 99%;
              }
            }
            .col-md-6:nth-child(2){
              padding-left: 2px;
              img{
                width: 99%;
              }
            }
          }
        }
        .col-md-3:nth-child(3){
          max-width: 285px;
          .summer{
            p{
              font-size: 22px;
              font-weight: bold;
              span{
                margin-left: 40px;
                .btn:nth-child(1){
                  background-color: #8e9ba4;
                  padding: 1px 8px;
                  margin-right: -3px;
                  margin-bottom: 7px;

                  i{
                    font-size: 18px;
                    color: rgba(250, 250, 250, 0.59);
                  }
                }
                .btn:nth-child(2){
                  background-color: #8e9ba4;
                  padding: 1px 8px;
                  margin-right: -3px;
                  margin-bottom: 7px;

                  i{
                    font-size: 18px;
                    color: white;
                  }
                }
              }
            }
            .row{
              margin: 0;
              width: 255px;
              .work{
                position: relative;
                width: 121px;
                margin-left: 4px;
                img{
                  width: 70%;
                  height: 80%;
                  margin-left: 15px;
                }
                p{
                  font-size: 14px;
                  text-align: center;
                  color: #aebcc2;
                  line-height: 14px;
                }
                .next{
                  height: 16px;
                  position: absolute;
                  top: 0;
                  background-color: red;

                  left: 0;
                  p{
                    color: white;
                    font-size: 10px;
                    padding: 0 3px;
                  }
                }
              }
            }
          }
        }
      }
      .ml-0{
        width: 1140px;
        .col{
          p{
            padding-bottom: 8px;
            b{
              font-size: 24px;
            }
          }
          .progress{
            height: 3px;
            .progress-bar{
              width: 13%;
              background-color: #f22fa5;
            }
          }
          .row{
            .col{
             .row{
               .col-md-4{
                 p{
                   background-color: #ccdae0;
                   i{
                     font-size: 50px;
                     color: #4e555b;
                   }
                 }
               }
               .col-md-8{
                  p:nth-child(1){
                    background-color: #ccdae0;
                    margin: 0;
                    padding: 0 0 0 20px;
                    font-size: 24px;
                    color: #d84d91;
                    border-right: 1px dotted black;
                  }
                 p:nth-child(2){
                   padding-left: 20px;
                   border-right: 1px dotted black;
                   line-height: 22px;
                   background-color: #ccdae0;

                 }
               }
             }
            }
            .col:nth-child(4){
             .row{
               .col-md-8{
                 p{
                   border-right: none;
                 }
               }
             }
            }
          }
        }
      }
      .pt-4{
          .col{
           .d-flex{
             height: 50px;
             .w-50:nth-child(1){
               p{
                 font-size: 30px;
               }
             }
             .w-50:nth-child(2){
               padding-top: 10px;
               i{
                  font-size: 24px;
                 background-color: #8b959b;
                 color: white;
               }
             }
           }
            .progress{
              height: 3px;
              .progress-bar{
                width: 13%;
                background-color: #d84d91;
              }
            }
          }
      }
      .pt-3{
        .col{
          max-width: 209px;
          position: relative;
          &:hover .men{
            opacity: 1;
          }
          &:hover p button:nth-child(1){
            opacity: 1;
          }
          &:hover p button:nth-child(2){
            background-color: blue;
            color: white;
            span{
              color: white;
            }
          }
          &:hover p button:nth-child(3){
            opacity: 1;
          }
          img{
              border-bottom: 1px solid #ccdae0;
          }
          .text-center{
            padding-top: 15px;
          }
         .book{
           .w-25{
             .progress{
               height: 1px;
               .progress-bar{
                 width: 100%;
                 background-color: #b8c2c8;
               }
             }
           }
           .w-50{
             max-width: 90px;
             padding-left: 3px;
             i{
               margin-top: 6px;
               vertical-align: middle;
               color: #fcaa04;
               font-size: 12px;
             }
             i:nth-child(5){
               color: #8b959b;
             }
           }
         }
          p{
            del{
              font-size: 12px;
              color: #aebbc1;
            }
            span{
              padding-left: 4px;
              font-size: 19px;
              color: #535a62;
            }
          }
          p{
            button:nth-child(1){
              opacity: 0;
              i{
                vertical-align: middle;
                font-size: 18px;
                color: white;
              }
            }
            button:nth-child(2){
              width: 110px;
              height: 34px;
              span{
                font-size: 13px;
              }
              i{
                font-size: 11px;
                vertical-align: center;
              }
            }
            button:nth-child(3){
              opacity: 0;
              i{
                vertical-align: middle;
                font-size: 18px;
                color: white;
              }
            }
          }
          .men{
            opacity: 0;
            position: absolute;
            background-color: red;
            top: 3px;
            height: 30px;
            right: 0;
            p{
              color: white;
              font-size: 14px;
              i{
                color: white;
                font-size: 12px;
              }
            }
          }
        }
      }
      .row:nth-child(5){
        max-width: 1140px;
        margin: 40px 0;
        .col{
        }
      }
    }
  }
  footer{
    .container{
      .row{
        .col{
          p{
            b{
              font-size: 16px;
            }
          }
          p{
            margin-bottom: 8px;
            color: #a0abb1;
            font-size: 12px;
            i{
              vertical-align: center;
              padding: 3px;
              font-size: 8px;
              border: 1px solid #fdb517;
              border-radius: 100%;
            }
          }
        }
        .col{
          p{
            input{
              height: 45px;
              margin-right: 3px;
              width: 290px;
            }
            button{
              margin-bottom: 4px;
              border-radius: 0;
              height: 45px;
              i{
                font-size: 18px;
              }
            }
          }
          p{
            img{
              font-size: 14px;
            }
          }
        }
      }
    }
    .py-2{
      background-color: black;
      .container{
        .row{
          .col{
            p{
              padding-top: 10px;
              padding-bottom: 5px;
            }
          }
        }
      }
    }
  }
}